.jumbotron{
    background-color: white;
    width: 50vw;
}

h1{
    color: lightgreen;
    font-weight:900;
    font-size: 35px;
}

.lead {
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
}
 ul .list_home {
     list-style-type:circle;

 }

 .btn-primary{
     padding: 12px;
     background-color: white;
     margin-right: 10 5px 10px 5px;
     color: lightgreen;
     border: 1px solid lightgreen;
     font-size: 18px;
 }
